---
import Container from "@components/ui/container.astro";
import Content from "@components/content.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Build Secured Income Fund I">
  <Container>
    <h1
      class="py-3 text-3xl">
      Build Bitcoin
    </h1>
    <Content />
  </Container>
</Layout>
