---
import Container from "@components/ui/container.astro";
---

<Container>
  <footer class="space-y-4 my-20">
    <p class="text-center text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Build Asset Management. All rights reserved.
    </p>
    <p class="text-left text-sm text-slate-500">
      * Please note that for fiscal reporting purposes, reporting for underlying portfolio companies represent gross IRR while overall TPL Fund reporting represents net IRR. Below you will find definitions for gross and net IRR:
    </p>
    <p class="text-left text-sm text-slate-500">
      Gross IRR represents the cumulative investment-related cash flows (i) for a given investment for the fund or funds which made such investment, and (ii) for a given fund, in the relevant fund itself (and not any one investor in the fund), in each case, on the basis of the actual timing of investment inflows and outflows (for unrealized investments assuming disposition at the end of the relevant fiscal quarter or other date specified) aggregated on a gross basis quarterly, and the return is annualized and compounded before management fees, carried interest and certain other fund expenses (including interest incurred by the fund itself) and measures the returns on the fund's investments as a whole without regard to whether all of the returns would, if distributed, be payable to the fund's investors. In addition, gross IRRs at the fund level differ from those at the individual investor level as a result of, among other factors, timing of investor-level inflows and outflows. Gross IRR does not represent the return to any fund investor.
    </p>
    <p class="text-left text-sm text-slate-500">
      Net IRR means the gross IRR applicable to a fund, including returns for related parties which may not pay fees or carried interest, net of management fees, certain fund expenses (including interest incurred or earned by the fund itself) and realized carried interest all offset to the extent of interest income, and measures returns at the fund level on amounts that, if distributed, would be paid to investors of the fund. To the extent that a fund exceeds all requirements detailed within the applicable fund agreement, the estimated unrealized value is adjusted such that a certain percentage of the unrealized gain is allocated to the general partner of such fund, thereby reducing the balance attributable to fund investors. In addition, net IRR at the fund level will differ from that at the individual investor level as a result of, among other factors, timing of investor-level inflows and outflows. Net IRR does not represent the return to any fund investor.
    </p>
    <p class="text-left text-sm text-slate-500">
      Build Asset Management, LLC (a/k/a Build Asset Management and/or GetBuilding.com) is an investment adviser registered with the U.S. Securities and Exchange Commission.  Registration of an investment adviser does not imply any skill or training.  Build Asset Management does not provide legal or tax advice.  Please consult your legal or tax professionals for specific advice.
    </p>
    <p class="text-left text-sm text-slate-500">
      Build does not guarantee any minimum level of investment performance or the success of any index portfolio, index, mutual fund or investment strategy. Past performance does not guarantee future results. There is a potential for loss in any investment, including loss of principal invested. All investments involve risk, and different types of investments involve varying degrees of risk. Investment recommendations will not always be profitable.
    </p>
    <p class="text-left text-sm text-slate-500">
      YOU SHOULD MAKE YOUR OWN DECISION WHETHER ANY BUILD ASSET MANAGEMENT INVESTMENT VEHICLE MEETS YOUR INVESTMENT OBJECTIVES AND RISK TOLERANCE LEVEL. SHARES IN ANY BUILD ASSET MANAGEMENT INVESTMENT VEHICLE (THE "INTERESTS") ARE OFFERED ONLY TO QUALIFIED INVESTORS. SUCH SHARES HAVE NOT BEEN REGISTERED UNDER THE U.S. SECURITIES ACT OF 1933, AS AMENDED, (the "SECURITIES ACT") OR THE SECURITIES LAWS OF ANY STATE OR OTHER JURISDICTION, AND MAY NOT BE SOLD, TRANSFERRED OR OTHERWISE DISPOSED OF BY AN INVESTOR. NEITHER THE US SECURITIES AND EXCHANGE COMMISSION ("SEC"), ANY STATE SECURITIES COMMISSION, OR ANY OTHER REGULATORY AGENCY OR GOVERNMENTAL AUTHORITY HAS: (I) REVIEWED THE DISCLOSURES INCLUDED HEREIN; (II) APPROVED, DISAPPROVED, ENDORSED OR RECOMMENDED THESE SECURITIES; OR (III) PASSED UPON THE ADEQUACY OR ACCURACY OF THE FUND DOCUMENTS. NO INDEPENDENT PERSON HAS REVIEWED OR CONFIRMED THE ACCURACY OR TRUTHFULNESS OF THIS DISCLOSURE, NOR WHETHER IT IS COMPLETE. ANY REPRESENTATION TO THE CONTRARY IS UNLAWFUL.
    </p>
    <p class="text-left text-sm text-slate-500">
      AN INVESTMENT IN THESE INTERESTS INVOLVES SIGNIFICANT RISKS. ONLY INVESTORS WHO CAN BEAR THE ECONOMIC RISK OF THE INVESTMENT FOR AN INDEFINITE PERIOD OF TIME AND THE LOSS OF THEIR ENTIRE INVESTMENT SHOULD INVEST IN THE SECURITIES.
    </p>
    <p class="text-left text-sm text-slate-500">
      This website shall not constitute an offer to sell or the solicitation of any offer to buy Interests, which may only be made at the time a qualified offeree receives the Fund Documents describing the offering and related subscription agreement. These securities shall not be offered or sold in any jurisdiction in which such offer, solicitation or sale would be unlawful until the requirements of the laws of such jurisdiction have been satisfied.
    </p>
    <p class="text-left text-sm text-slate-500">
      Any decision to invest in a Build Asset Management investment vehicle should be made only after carefully reviewing the Fund Documents, conducting such inquiries and investigations as you deem necessary, and consulting with your own legal, accounting and tax advisors in order to make an independent determination of the suitability, risk and merits of investing with Build Asset Management.
    </p>
    <p class="text-left text-sm text-slate-500">
      The information on this website is only as current as of the date indicated and may be superseded by subsequent market events or for other reasons. Nothing contained herein constitutes investment, legal, tax or other advice nor is it to be relied on in making an investment or other decision. This website should not be viewed as a current or past recommendation or a solicitation of an offer to buy or sell any securities or to adopt any investment strategy.
    </p>
    <p class="text-left text-sm text-slate-500">
      Private funds, such as the Build Asset Management investment vehicles, are speculative investments and are not suitable for all investors, nor do they represent a complete investment program. Private funds are available only to qualified investors who are comfortable with the substantial risks associated with investing in private funds and who are able to withstand a total loss of invested capital. An investment in a private fund includes the risks inherent in an investment in securities. There can be no assurance that an investment strategy will be successful and investment results may vary substantially over time. Economic, market and other conditions could also cause the Fund to alter its investment objectives, guidelines and restrictions. Nothing herein is intended to imply that Build Asset Management's investment methodologies may be considered "conservative", "safe", "risk free" or "risk averse."
    </p>
    <p class="text-left text-sm text-slate-500">
      Investors in a Build Asset Management investment vehicle may have no right to or a limited right to redeem or transfer their interests in such investment vehicle. No Interests will be listed on an exchange, and it is not expected that there will be a secondary market for any Interests.
    </p>
    <p class="text-left text-sm text-slate-500">
      Certain information contained herein has been obtained or derived from unaffiliated third-party sources believed by Build Asset Management to be reliable. Neither Build Asset Management nor any of its affiliates or representatives makes any representation or warranty, express or implied, as to the accuracy or completeness of the information contained herein. 
    </p>
    <p class="text-left text-sm text-slate-500">
      General discussions on this website regarding the market or market conditions represent the view of either the source cited or Build Asset Management. Nothing contained herein is intended to predict the performance of any investment. There can be no assurance that actual outcomes will match the assumptions or that actual returns will match any expected returns. The information contained herein is subject to change and Build Asset Management assumes no obligation to update the information herein.
    </p>
    <p class="text-left text-sm text-slate-500">
      BITCOIN AND CRYPTOCURRENCY RISK INFORMATION: Bitcoin and other cryptocurrencies are a digital representation of value that function as a medium of exchange, a unit of account, or a store of value, but they do not have legal tender status in the United States. Cryptocurrencies are sometimes exchanged for U.S. dollars or other currencies around the world, but they are not generally backed or supported by any government or central bank.
    </p>
    <p class="text-left text-sm text-slate-500">
      Their value is completely derived by market forces of supply and demand, and they are more volatile than traditional currencies. The value of cryptocurrency may be derived from the continued willingness of market participants to exchange fiat currency for cryptocurrency, which may result in the potential for permanent and total loss of value of a particular cryptocurrency should the market for that cryptocurrency disappear. Cryptocurrencies are not covered by either FDIC or SIPC insurance. Legislative and regulatory changes or actions at the state, federal, or international level may adversely affect the use, transfer, exchange, and value of cryptocurrency.
    </p>
    <p class="text-left text-sm text-slate-500">
      Cryptocurrency markets come with several risks, including volatile market price swings or flash crashes, market manipulation, and cybersecurity risks. In addition, cryptocurrency markets and exchanges are not regulated with the same controls or customer protections available in equity, option, futures, or foreign exchange investing. There is no assurance that a person who accepts a cryptocurrency as payment today will continue to do so in the future.
    </p>
  </footer>
</Container>