---
import Features from "@components/features.astro";
---

<h1
  class="text-5xl md:text-6xl">
  The new<br />bitcoin-backed loan<br />private credit fund
</h1>
<p class="text-lg mt-4 text-slate-200 max-w-xl">
  A direct lending private credit fund seeking to offer investors modest income. Backed by collateralized personal and business loans.
</p>
<Features />